body {
  text-align: center;
  background-color: #192A56
}
header {
  margin: 2em;
  color: #F8F9FA;
}
.header {
  font-family: "shinryu", sans-serif;
font-weight: 400;
font-style: normal;
  color: #F8F9FA;
}
.option button{
  font-size: 1.5rem;
  min-width: 100px;
  margin: 1em;
  border-radius: 250px;
  background-color: #6C757D;
  border: 2px solid #343A40;
  cursor: pointer;
}

.player {
  background-color: #343A40;
}
.comp {
  background-color:  #BD373E;
}
.img {
  height: 4em;
  padding: 0.5em;
}
.img1 {
  height: 8em;
  width: 8em;
}
.reload {
  height: 4em;
  display:inline-block;
  margin-left: 0;

}
.ui {
  margin-top: 0;
  margin-bottom: 2em;
  font-family: "shinryu", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
}
#box {
  padding: 2em;
  padding-bottom: 2.5em;
  border-radius: 10px;
  margin: 2em;
}
h1  { 
  font-family: "shinryu", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}
h2  {
  margin-bottom: 0;
  font-family: "shinryu", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
}
h4 {
  font-family: "shinryu", sans-serif;
font-weight: 400;
font-style: normal;
}
h3 {
  font-family: "shinryu", sans-serif;
font-weight: 400;
font-style: normal;
}
.parent {
  margin-top: 0rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
}

#playerScore {
  font-size: 2em;
  font-weight: 700;
}

#ComputerScore {
  font-size: 2em;
  font-weight: 700;
}

button {
  border: none;
  border-radius: 100%;
  box-shadow: 0 4px 5px #050505a4;
  transition:0.25s;
}
button:hover {
  box-shadow: 0 10px 10px #050505a4;
  transition:0.25s;
}
button:active {
  box-shadow:none;
  transition:0.25s;
}